SEARCH_ENGINE_NVD.API_KEY=your_nvdAPI_key

SEARCH_ENGINE_DATABASE.HOST="localhost"
SEARCH_ENGINE_DATABASE.PORT="5432"
SEARCH_ENGINE_DATABASE.USER="postgres"
SEARCH_ENGINE_DATABASE.PASSWORD="postgres"
SEARCH_ENGINE_DATABASE.NAME="search_engine"
